@model List<Moment2MVC.Models.MovieModel>

@{
    ViewData["title"] = "Film-lista";
}

<h2>Film-lista</h2>

<table>
    <tr>
        <th>Titel</th>
        <th>Reggisör</th>
        <th>Utgivningsdatum</th>
        <th>Genre</th>
        <th>Barntillåten</th>
    </tr>
    @foreach(var movie in Model){
    <tr>
        <td>@movie.Title</td>
        <td>@movie.Director</td>
        <td>@movie.Release</td>
        <td>@movie.Genre</td>
            @if(movie.AgeLimit == true){
                <td>Ja</td>
            } else {
                <td>Nej</td>
            }
    </tr>
    }
</table>